 <!-- Here we are displaying the info  -->
 <div *ngIf="hereData" class="more-info-container">
    <!-- Here we are displaying the info  -->
   <div class="info-block">
     <div class="info-block-label">
       <img [src]="hereData.images[0]" alt="">
       <span>{{ hereData.description[0] }}</span>
     </div>
     <div class="info-block-value">
       {{ dataWeather.min_temp}}°C
     </div>
   </div>
    <!-- Here we are displaying the info  -->
   <!-- <div class="info-block">
     <div class="info-block-label">
       <img src="../assets/hot.png" alt="">
       <span>max</span>
     </div>
     <div class="info-block-value">
       20°C
     </div>
   </div> -->
    <!-- Here we are displaying the info  -->
   <!-- <div class="info-block">
     <div class="info-block-label">
       <img src="../assets/humidity.png" alt="">
       <span>humidity</span>
     </div>
     <div class="info-block-value">
       77%
     </div>
   </div> -->
      <!-- Here we are displaying the info  -->
   <!-- <div class="info-block">
     <div class="info-block-label">
       <img src="../assets/wind.png" alt="">
       <span>wind</span>
     </div>
     <div class="info-block-value">
       11km/h
     </div>
   </div>   -->
 </div>
