<div class="container">

  <div class="upper-data">

    <img src="../assets/pexels-imad-clicks-10679350.jpg" *ngIf="14 > 15" alt="">
    <img src="../assets/pexels-andreas-13722038.jpg" *ngIf="14 < 15"  alt="">

    <div class="weather-data">
      <div class="location"> CITY </div>
      <div class="temperature">{{ 14.40 | number: '1.0-0' }}°</div>
    </div>

  </div>

  <div class="lower-data">

    <div class="more-info-label">
      More info
    </div>

    <app-data  [dataWeather]="Wdata" *ngFor="let Wdata of apiData" ></app-data>

  </div>
</div>

<!-- <div class="container">
  <app-product [dataProduct]="product"  *ngFor="let product of productsAppCom" ></app-product>
</div> -->

<router-outlet></router-outlet>
